.header {
  height: 200px;
  padding: 300px 40px;
  display: flex;
  background-color: bisque;
}

.site-header {
  width: 420px;
  margin-left: 50px;
  text-align: center;
}
h2 {
  font-size: 45px;
}
