<div>
  <app-search></app-search>
  <app-filter
    [all]="getAllCourses()"
    [free]="getFreeCourses()"
    [premium]="getPremiumCourses()"
  ></app-filter>
</div>
<div class="course-container" *ngFor="let course of courses">
  <div class="course-card">
    <div class="course-name">
      <h4>{{ course.name }}</h4>
    </div>
    <div class="course-description">
      <p>{{ course.description.slice(0, 80) }}...</p>
    </div>
    <div class="details">
      <div
        class="course-type"
        [ngStyle]="{ color: course.type === 'Free' ? 'Green' : 'Red' }"
      >
        {{ course.type }}
      </div>
      <div class="course-price"><b>Price:</b> ${{ course.price }}</div>
    </div>
    <div class="course-buttons">
      <button class="btn btn-buy">Buy Now</button>
      <button class="btn btn-show">Show Deatils</button>
    </div>
  </div>
</div>
