<div class="filter-container">
  <span>Filter: </span>

  <input
    type="radio"
    name="filter"
    value="All"
    [(ngModel)]="selectedRadio"
    (change)="onRadioChange()"
  />
  <span>{{ "All Courses(" + all + ")" }}</span>

  <input
    type="radio"
    name="filter"
    value="Free"
    [(ngModel)]="selectedRadio"
    (change)="onRadioChange()"
  />
  <span>{{ "Free Courses(" + free + ")" }}</span>

  <input
    type="radio"
    name="filter"
    value="Premium"
    [(ngModel)]="selectedRadio"
    (change)="onRadioChange()"
  />
  <span>{{ "Premium Courses(" + premium + ")" }}</span>
</div>
